<h1>CryptoWallet++ </h1>
<%= link_to "Login", sign_in_path, class:'btn btn-primary' %>
<%= link_to "Register", new_users_path , class:'btn btn-secondary'%>
<p>Welcome to the CryptoWallet Application!</p>
